body {
  font-family: Helvetica sans-serif;
  padding: 0;
  margin: 0;
  background-color: #222;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.info {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 15px;
  color: #eee;
  font-size: 13px;
  background-color: rgba(0, 0, 0, .5);
}

.box{
  width:300px;
  height:380px;
  background-color: rgba(150, 191, 186, .22);
  position:absolute;
  top:150px;
  border-radius:5px;
  transition: transform .2s;

}
.box:hover{
  transform: scale(1.1);
  background-color: rgba(150, 191, 186, .30);
}


.boxText{
  color:#fff;
  font-family: Century Gothic;
  font-size:48px;
  font-weight:normal;
  text-align: center;
  margin-top:150px;
}
a:link {
  text-decoration: none;
}

#blog{
  left:200px;
}
#games{
  left:550px;
}
#portfolio{
  left:900px;
}


/*/////////////////////// GAMES ///////////////////////*/

.gameSelectBox{
  width:300px;
  height:400px;
  border-radius:5px;
  display: flex;              /* establish flex container */
  flex-direction: column;     /* stack flex items vertically */
  justify-content: center;    /* center items vertically, in this case */
  align-items: center;        /* center items horizontally, in this case */
  float: top;
  position:fixed;
  top:100px;
  left:550px;
}
.selectItem{
  border-radius: 3px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  width:100%;
  padding-bottom: 5px;
  transition: transform 0.2s;
  background-color: rgba(150, 191, 186, .22);


}
.selectItem:hover{
  transform: scale(1.05);
  background-color: rgba(150, 191, 186, .32);
  font-weight: bold;

}

.gameSelectText{
  color:#fff;
  font-family: Century Gothic;
  font-size:38px;
  font-weight:normal;
  text-align: center;


}

/*//////// BACK BUTTON//////////*/
.backButton{
  width:120px;
  height:40px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.1);


  transition: transform 0.2s;
  background-color: rgba(150, 191, 186, .22);
  color:rgba(250,250,250,0.7);
  font-family: Century Gothic;
  position:fixed;
  top: 530px;
}

.backButton:hover{
  transform: scale(1.05);
  background-color: rgba(150, 191, 186, .32);
  font-weight: bold;

}
a { color: inherit; }
a:hover { color: inherit; }